Pertanyaan 1:
“https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv”

Baca dataset Boston Housing dari URL yang diberikan dan simpan dalam DataFrame.
Tampilkan informasi umum tentang dataset tersebut.
Berapa jumlah total baris dan kolom dalam dataset ini?

In [44]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv')
print("informasi umum tentang dataset tersebut")
print("---------------------------------------")
df.info()
jumlahBaris, jumlahKolom = df.shape
print("jumlah total baris dan kolom dalam dataset ini")
print("---------------------------------------")
print(f"jumlah total baris: {jumlahBaris}")
print(f"jumlah total kolom: {jumlahKolom}")

informasi umum tentang dataset tersebut
---------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB
jumlah total baris dan kolom dalam dataset ini
---------------------------------------
jumlah total baris: 506
jumlah total kolom: 14

Pertanyaan 2:
Tampilkan deskripsi statistik dari dataset untuk melihat ringkasan dari nilai-nilai numerik.
Apa nilai rata-rata, median, dan deviasi standar dari variabel AGE?

In [45]:
print("deskripsi statistik dari dataset")
print("---------------------------------")
print(df.describe())

mean_age = df['age'].mean()
median_age = df['age'].median()
std_age = df['age'].std()

print(f"Nilai Rata-rata dari variabel AGE adalah : {mean_age}")
print(f"Nilai median dari variabel AGE adalah : {median_age}")
print(f"Nilai deviasi standar dari variabel AGE adalah : {std_age}")

deskripsi statistik dari dataset
---------------------------------
             crim          zn       indus        chas         nox          rm  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170    0.554695    6.284634
std      8.601545   23.322453    6.860353    0.253994    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.677083   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              age         dis         rad         tax     ptratio           b  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.574901    3.795043    9.549407  408.237154   18.455534  356.674032
std     28.148861    2.105710    8.707259  168.537116    2.164946   91.294864
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.025000    2.100175    4.000000  279.000000   17.400000  375.377500
50%     77.500000    3.207450    5.000000  330.000000   19.050000  391.440000
75%     94.075000    5.188425   24.000000  666.000000   20.200000  396.225000
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            lstat        medv
count  506.000000  506.000000
mean    12.653063   22.532806
std      7.141062    9.197104
min      1.730000    5.000000
25%      6.950000   17.025000
50%     11.360000   21.200000
75%     16.955000   25.000000
max     37.970000   50.000000
Nilai Rata-rata dari variabel AGE adalah : 68.57490118577076
Nilai median dari variabel AGE adalah : 77.5
Nilai deviasi standar dari variabel AGE adalah : 28.148861406903617

Pertanyaan 3:
Lakukan filtering untuk memperoleh baris-baris di mana nilai RM (jumlah kamar) lebih besar dari 6 dan MEDV (harga median rumah) lebih besar dari 25.
Berapa jumlah total baris yang memenuhi kriteria tersebut?

In [46]:
df_rm_medv = df[(df['rm'] > 6) & (df['medv'] > 25)]
totalBaris =  len(df_rm_medv)
print(f"jumlah total baris yang memenuhi kriteria tersebut adalah : {totalBaris}")

jumlah total baris yang memenuhi kriteria tersebut adalah : 119

Pertanyaan 4:
Tampilkan ringkasan statistik untuk harga rumah (MEDV) hanya untuk baris-baris yang memiliki nilai CHAS (dekat dengan sungai) sama dengan 1.

In [58]:
df_chas = df[df['chas'] == 1]
desc_medv = df_chas['medv'].describe()
print(f" ringkasan statistik untuk harga rumah (MEDV) yang memiliki nilai CHAS (dekat dengan sungai) sama dengan 1 :")
desc_medv

 ringkasan statistik untuk harga rumah (MEDV) yang memiliki nilai CHAS (dekat dengan sungai) sama dengan 1 :

count    35.000000
mean     28.440000
std      11.816643
min      13.400000
25%      21.100000
50%      23.300000
75%      33.150000
max      50.000000
Name: medv, dtype: float64

Pertanyaan 5:
Lakukan filtering untuk memperoleh baris-baris di mana nilai RAD (pemudahan akses ke jalan raya) kurang dari atau sama dengan 5 dan nilai TAX (pajak properti) lebih dari 400.
Berapa jumlah total baris yang memenuhi kriteria tersebut?

In [60]:
df_rad_tax = df[(df['rad'] <= 5) & (df['tax'] > 400)]
totallBaris = len(df_rad_tax)
print(f"jumlah total baris yang memenuhi kriteria tersebut:{totallBaris}")

jumlah total baris yang memenuhi kriteria tersebut:59